[package]
name = "{{name}}"
version = "0.1.0"
edition = "{{edition}}"

[lib]
name = "{{crate}}"

[dependencies]
florui = "{{version}}"
florui-platform = "{{version}}"
florui-style = "{{version}}"

[dev-dependencies]
florui-test = "{{version}}"
