.box {
    width: 40px;
    height: 40px;
    background-color: #808080;
}

@media (min-width: 60px) {
    .box {
        background-color: #2f7d6c;
    }
}

@media (min-width: 5000px) {
    .box {
        border-top-width: 6px;
        border-top-style: solid;
        border-top-color: #ff0000;
    }
}
